version: '3'

services:
	mariadb:
		build:
			context: ./requirements/mariadb
			dockerfile: Dockerfile
		container_name: mariadb
		env_file: .env
		volumes:
			- mariadb_data:/var/lib/mysql
		networks:
			- inception
		restart: unless-stopped


	wordpress:
		build:
			context: ./requirements/wordpress
			dockerfile: Dockerfile
		container_name: wordpress
		env_file: .env
		volumes:
			- wordpress_data:/var/www/html
		networks:
			- inception
		depends_on:
			- mariadb
		restart: unless-stopped

	nginx:
		build:
			context: ./requirements/nginx
			dockerfile: Dockerfile
		container_name: nginx
		env_file: .env
		ports:
			- "443:443"
		volumes:
			- wordpress_data:/var/www/html
		networks:
			- inception
		depends_on:
			- wordpress
		restart: unless-stopped

volumes:
	mariadb_data:
		driver: local
		driver_opts:
			type: none
			o: bind
			device: ${SQL_DATA_PATH}

	wordpress_data:
		driver: local
		driver_opts:
			type: none
			o: bind
			device: ${WP_DATA_PATH}


networks:
	inception:
		driver: bridge